body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    background-color: #ffeecc;
    margin: 0;
    padding-left: 4rem;
    padding-right: 4rem;
    overflow-y: scroll;
    overflow-x:hidden
}


header {
    background-color: black;
    padding: 1vh;
    height: 12vh;
    width: 100vw;
    margin-left: -4rem;
    margin-right: -4rem;
}

.logo {
    height: 10vh;
    width: auto;
}

.navbar {
    color: white;
    font-family: 'Lato', sans-serif;
    background-color: black;
    position: sticky;
    display: flex;
    top: 0;
    height: 6vh;
    width: 100vw;
    margin-left: -4rem;
    margin-right: -4rem;
    z-index: 10;
}

.nav-button {
    padding: 2vh;
}

.nav-button:hover {
    color: black;
    background-color: white;
    overflow: visible;
}

.panel {
    display: none;
    background-color: white;
    width: 100vw;
    height: 50vh;
    padding: 4vh;
    font-family: serif;
}

.panel a, .panel a:visited {
    color: black;
    text-decoration: none;
}

.panel a:hover, .panel a:active {
    color: gray;
}

.destination {
    vertical-align: center;
    text-align: center;
}

.destination-desc {
    font-family: 'Lato', sans-serif;
}

.panel-divider {
    height: 100%;
    border-left: 1pt solid gray;
}

#browse:hover #panel-A {
    display: flex;
    position: absolute;
    top: 6vh;
    margin-left: -3rem;

    justify-content: space-evenly;
}

#panel-A .destination {
    margin-top: 6vh;
    width: 20vw;
}

#panel-A img {
    /* margin: 1vh; */
    height: 20vh;
    width: auto;
}

#panel-A .destination-name {
    margin: 1vh;
    font-size: 18pt;
}

#button-B:hover #panel-B {
    display: flex;
    position: absolute;
    top: 6vh;
    margin-left: -8rem;

    justify-content: space-around;
}

#panel-B .destination-name {
    margin: 1vh;
    font-size: 20pt;
}

#panel-B .destination-desc {
    margin: 1vh;
    font-size: 14pt;
}

#latest-issue-panel img {
    height: 40vh;
    width: auto;
}

#past-1 img {
    height: 36vh;
    width: auto;
}

#past-2 img {
    height: 36vh;
    width: auto;
}

#button-C:hover #panel-C {
    display: flex;
    position: absolute;
    top: 6vh;
    margin-left: -11rem;

    justify-content: space-around;
}

#panel-C .destination {
    padding: 1vh;
    width: 40vh;
    height: 50vh;
    border: 1pt solid gray;
}

#panel-C img {
    width: 100%;
    height: auto;
}

#panel-C .destination-name {
    font-size: 20pt;
}

#wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* margin-top: 10%; */
    /* padding-top: 10%; */
    /* border: dashed 1pt black; */
}

div:focus, img:focus {
    outline: none;
}

.banner {
    width: 100vw;
    height: 480px;
    margin-left: -4rem;
    margin-right: -4rem;
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: center;
    background-attachment: fixed;
    align-content: right;
}

#banner-lead {
    background-image: url('Assets/Hero/Hero1.png');
}

.call {
    /* background-color: #fff; */
    position: relative;
    color: white;
    width: 20%;
    padding: 1rem;
    top: 4rem;
    left: 60rem;
    text-align: right;
}

.long-call {
    font-family: 'Lato', sans-serif;
    font-size: 14pt;
    margin-bottom: 2rem;
    font-weight: lighter;
}

.banner button {
    margin-top: 2rem;
    font-family: 'Lato';
    font-size: 12pt;
    background-color: transparent;
    border: 1.5pt solid white;
    vertical-align: center;
    padding: 0.5rem;
    color: white;
    float: right;
    border-radius: 2pt;
}

.banner button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.section-header {
    margin: 2rem 0 2rem 0;
    padding: 2rem;
    text-align: center;
}

.section-title {
    float: left;
    font-size: 32pt;
}

#latest-story {
    width: 75%;
    float: left;
    background-image: url('Assets/Thumbs/fin_de_siecle.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: -100pt;
}

#latest-story .story {
    padding: 2rem;
    width: 50%;
    background-color: #fff;
    position: relative;
    overflow: visible;
    float: right;
    top: -4rem;
    left: 16rem;
}

.story:hover {
    background-color: #aaa;
}

.similar {
    font-family: 'Lato', sans-serif;
    font-size: 14pt;
    color: white;
    width: 10rem;
    height: 3rem;
    background-color: black;
    border: 1.5pt solid black;
    position: relative;
    top: 20rem;
    left: 58rem;
}

.similar:hover {
    cursor: pointer;
    color: black;
    background-color: white;
}

.title {
    display: block;
    margin-bottom: 1rem;
    font-size: 28pt;
    width: 100%;
}

a, a:visited {
    color: black;
    text-decoration: none;
}

a:hover, a:active {
    color: grey;
}

.story-vol {
    display: block;
    margin-bottom: 0.5rem;
    font-family: 'Lato', sans-serif;
    font-size: 10pt;
    text-transform: uppercase;
    font-weight: normal;
}

.authors {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 13pt;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.abstract {
    height: 12rem;
    overflow: hidden;
    /* background: #416dc742; */
    font-family: 'Lato', sans-serif;
    width: 100%;
    
    background: -webkit-linear-gradient(#000000, #fff);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#banner-second {
    background-image: url('Assets/Hero/Hero2.png');
    margin-top: 8rem;
}

#current-issue {
    margin-top: -22rem;
}

#issue-header {
    background-color: #607bb13f;
    width: 100vw;
    height: 4rem;
    margin-left: -4rem;
    margin-right: -4rem;
    padding: 1rem 28rem;
    font-size: 28pt;
}

#volume {
    font-size: 10pt;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

#current-cover {
    position: relative;
    width: 20rem;
    height: auto;
    top: 24rem;
}

.featured {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1rem 24rem;
    height: 18rem;
}

.featured-story {
    padding: 1rem;
    /* border-top: 1pt solid black;
    border-bottom: 1pt solid black; */
}

.title-sub {
    font-size: 16pt;
}

.title-sub > a, .title-sub > a:visited {
    color: black;
    text-decoration: none;
}

.title-sub > a:hover, .title-sub > a:active {
    color: grey;
}

#one, #two, #four {
    border-bottom: 1pt solid black;
}

footer {
    padding: 4vh;
    color: white;
    background-color: black;
    height: 8vh;
    width: 100vw;
    margin-left: -4rem;
    margin-right: -4rem;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
}

footer a, footer a:visited {
    color: white;
}